$white: #ffffff;
$black: #000000;
$dkGray: #303030;
$ltGray: #cecece;
$dkvine: #65041d;
$ltvine: #ba4547;
$whitevine: #f4e4e1;
$corSubmenu: #eac8c2;
$corSubmenuHover: #f0dad7;

.c-white{
    color: $white;
}
.c-black{
    color: $black;
}
.c-dkgray{
    color: $dkGray;
}
.c-ltgray{
    color: $ltGray;
}
.c-dkvine{
    color: $dkvine;
}

.c-ltvine{
    color: $ltvine;
}

.c-whitevine{
    color: $whitevine;
}