@import "variables";
@import "colors";


#menuToggle
{
  display: none;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

//
//
//
.logo{
  @media #{ $mq-1000-down } {
    text-align: center;
  }
}
.logo-mobile {
  display: none;
  margin-bottom: 20px;
  padding-left: 20px;
  @media #{ $mq-1000-down } {
    display: block;

  }
}

.main-menu{  
  position: relative; 
  .redes-sociais-menu{
    min-height: 30px;
  }
  .ul{  
      position: relative;
      float: right;
      height: 35px;
      margin-top: 10px;
      width: 100%;
      padding: 0 10px 0 0;
      ul{
        float: left;
        padding: 0;
        width: 100%;
      }
      @media #{ $mq-1000-down } {
        
         background: #fff;

         position: fixed;
         top: 0;
         left: -100vw;
         bottom: 0;
         display: block;
         float: left;
         width: 100%;
         max-width: 90vw;
         height: 100%;
         padding-top: 20px;
         padding-left: 20px;
     
         -moz-transition: all 300ms;
         -webkit-transition: all 300ms;
         transition: all 300ms;

         z-index: 10;

         display: none !important;

      }
      .icon:before {
        display: none;
        @media #{ $mq-1000-down } {              
          display: inline-block;
        }
      }

      li{  
          float: left;
          position: relative;  
          width: 100%;
          @media #{ $mq-1000-down } {
            width: 100%;
            display: block;
          }
         
          a{
              display: inline-block;                            
              min-height: 35px;
              line-height: 35px;
              text-transform: uppercase;
              font-size: 12px;
              font-weight: 500;
              padding: 0 9px;
          }

          i {
            display: none;
            @media #{ $mq-1000-down } {              
              display: inline-block;
            }
          }

          &:hover {
              .sub-menu, .mp-level{
               display: block                    
              }
              &.sindrome {                        
                  .sub-menu, .mp-level{
                      min-width: 230px;               
                  }
              }
          }
       

          .sub-menu{ 
              @include transition(all .2s ease);
  
              display: none;
              min-width: 230px;
              background: $corSubmenu;
              padding: 20px 0;
              left: 7px;
              top: 30px;
              position: absolute;
              z-index: 2;        

              @media #{ $mq-1000-down } {
                float: left;
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
              }
  
              a {
                  display: inline-block;  
                  width: 100%;
                  float: left;  
                  text-decoration: none;
                  min-height: 17px;
                  line-height: 17px;
                  padding: 6px 20px 4px 20px;
                  margin-bottom: 4px; 
                  &:last-child { 
                      margin-bottom: 0;
                  }
                  &:hover {
                      background: $corSubmenuHover;
                  }
              }                        
  
          }
  
      }
  }


  .socials {
      @extend %socials;
  }
}



.menu-active {
  .main-menu{  
    position: relative;   
    .ul{ 
      left: 0px;
    }  
  }

  .menu-shadow {
    display: block;
  }
}

.menu-shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000;
  opacity: 0.5;
  z-index: 5;
  display: none;
}
.menu-responsive-trigger {
  border: 1px solid red;
  position: fixed;
  top: 56px;
  right: 14px;
  //right: calc(~"100vh - 20px");  
  z-index: 1;
  width: 40px;
  height: 40px;
 
}

.mp-pusher {
  position: relative;
  z-index: 2;
}
.menu-hamburger { 
  width: 40px;
  position: relative;
  margin-top: 54px;
  
  .close-menu-hamburger {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
  }

  .ham {  
    width: 40px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
   
  }
  .hamRotate.active {
    transform: rotate(45deg);
  }
  .hamRotate180.active {
    transform: rotate(180deg);
  }
  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#000;
    stroke-width:5.5;
    stroke-width: 3;
    stroke-linecap:round;
  }
  .ham1 .top {
    stroke-dasharray: 40 139;
  }
  .ham1 .bottom {
    stroke-dasharray: 40 180;
  }
  .ham1.active .top {
    stroke-dashoffset: -98px;
  }
  .ham1.active .bottom {
    stroke-dashoffset: -138px;
  }
   
}

body.menu-active {
  .hamRotate {
    transform: rotate(45deg);
 
  }
  .hamRotate180 {
    transform: rotate(180deg);
  }

  .ham1 .top {
    stroke-dashoffset: -98px;
  }
  .ham1 .bottom {
    stroke-dashoffset: -138px;
  }
}


.mp-menu {
  @media #{ $mq-1000-up } {    
    display: none;
  }
  
  .menu-hamburger {
    position: absolute;
    top: 0;
    right: -60px;
    display: none;
  }
}

body.menu-active {
  .mp-menu {
    .menu-hamburger { 
      display: block;
    }
  }

  .menu-responsive-trigger {
   // right: calc(100vw - 50px);
  }

  .menu-hamburger .ham {
    //right: calc(100vw - 60px);
  }
}
.primary-menu{
  width: auto !important;
}