
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "variables";
@import "colors";
@import "typography";
@import "global";
@import "dynamic";
.eventos{
    .margin-left{
        margin-left: 15px;
    }
    .event-border-b{
        border-bottom: 1px $ltvine solid;
        padding: 5px 0;
    }
    background-image: url(../images/background-fundadoras.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    img{
        border: 2px solid #ccc;
    }
    @media #{$mq-620-up}{
        background-size: cover;
        background-position: center;
        img{
            margin-top: 10px !important;
        }
    }
}