@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "menu";
@import "variables";
@import "colors";
@import "typography";
@import "global";
@import "dynamic";

footer{
    background-color: #eed5d0;
    text-align: center;
    float: left;
    width: 100%;
    margin-top: 3rem;
    @media #{$mq-620-up}{
        padding: 40px 0 20px 0;
    }
    .socials {
        @extend %socials;
    }
    .socials-left {
        @extend %socials-left;
    }
    span {
        display: block;
        padding: 20px 0;
    }
    .logo, .logo-text{
        text-align: center;
    }
}