@import "../bootstrap/scss/bootstrap.scss";
@import "menu";
@import "variables";
@import "colors";
@import "typography";
@import "global";
@import "dynamic";

footer{
    background-image: url(../images/roki-rodape.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    float: left;
    padding: 60px 0;
    width: 100%;
    @media #{$mq-620-up}{
        padding: 60px 0 30px 0;
        text-align: left;
        .logo{
            text-align: center;
        }
    }
    .socials {
        @extend %socials;
        ul{
            li{
                margin: 0 !important;
            }
        }
    }
    .socials-left {
        @extend %socials-left;
    }
    span {
        display: block;
        padding: 5px 0;
    }
}