@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "menu";
@import "variables";
@import "colors";
@import "typography";
@import "global";
@import "dynamic";
@import "mixins";

header{
    @media #{$mq-620-up}{
        padding: 20px 0;    
        height: 130px;    
        margin-top: 0;
    }
    margin-top: 15px;
    display: block;
    float: left; 
    width: 100%;
    height: 150px;
    .logo{
        text-align: center;
        @media #{$mq-620-up}{
            flex: 100%;
            max-width: 100%;
            padding-bottom: 20px;
            text-align: left;
        }
        @media #{$mq-620-down}{
            img{
                margin-left: 40px;
            }
        }
    }
    .pipe::after{
        content: "";
        width: 1px;
        height: 10px;
        top: 12px;
        position: absolute;
        background-color: $dkvine;
    }
}