@import "colors";
@import "variables";
.page-title{
    h1, h2, h3, h4, h5, h6{
        margin: 5.5rem 0 4.5rem;    
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 400;
        color: $ltvine;
    }
    @media #{ $mq-1000-down } {
        text-align: center;
    }
}

