@import "colors";
@import "variables";
.page-title{
    h1, h2, h3, h4, h5, h6{
        margin: 5.5rem 0 4.5rem;    
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 400;
        color: $ltvine;
    }
    @media #{ $mq-1000-down } {
        text-align: center;
    }
}

.main-background-not100{
    background-position: 50% -30%;
    background-repeat: no-repeat;
    background-size: unset;
    @media #{$mq-620-down}{
        background-size: cover;
        background-position: center;
    }
    img{
        @media #{$mq-620-down}{
            width: 100%;
        }
    }
}
.main-background-not100-2{
    background-position: 50% -10%;
    background-repeat: no-repeat;
    background-size: unset;
    @media #{$mq-620-down}{
        background-size: cover;
        background-position: center;
    }
    img{
        @media #{$mq-620-down}{
            width: 100%;
        }
    }
}
.list-bullet{
    ul{
        padding-left: 15px;
        li{
            margin-bottom: 10px;
        }
    }
    ul li:before {
        content: '\2022';
        position: absolute;
        margin-left: -15px;
        color: $ltvine;
    }
}