@import "../bootstrap/scss/bootstrap.scss";
@import "variables";
@import "colors";
@import "typography";
@import "global";
@import "dynamic";
.home{
    .main-background{
        text-align: center;
        position: relative;
        .absolute-text{
            position: absolute;
            top: 50px;
            @media #{$mq-620-down}{
                top: 0;
            }
            left: 0;
            width: 100%;
            text-align: left;
        }
    }
    .aside-title{
        p{
            color: $dkvine;
            margin-top: 0.5rem;
        }
    }
    .aside-link{
        a{
            color: $white;
        }
    }
    .main-content{
        padding: 6rem 0 0 6rem;
        font-style: italic;
        .main-content-text {
            position: relative;
            h2, h3, h4{
                margin-bottom: 1.2rem;
            }
            p{
                font-size: 1rem;
                line-height: 1.5;
            }
            h4, p{
                position: relative;
                z-index: 10;
            }
            span{
                display: block;
                width: 20rem;
                top: -3rem;
                left: -5rem;
                height: 20rem;
                position: absolute;
                background-repeat: no-repeat;
                z-index: 1;
            }
        }
        .main-content-mancha-1{
           span{
               background-image: url(../images/roki-home-mancha1.jpg);
           }
        }
        .main-content-mancha-2{
            span{
                background-image: url(../images/roki-home-mancha2.jpg);
            }
        }
        .main-content-mancha-3{
            span{
                background-image: url(../images/roki-home-mancha3.jpg);
            }
        }
    }
    .mobile{
        display: none;
        @media #{$mq-620-down}{
            display: block;
        }
        text-align: left;
        position: static;
        background-position: 80%;
        .main-txt{
            max-width: 70%;
        }
        .main-title{
            max-width: 70%;
            padding-bottom: 2rem;
        }
        
    }
    .desktop{
        @media #{$mq-620-down}{
            display: none;
        }
    }
}
