
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "variables";
@import "colors";
@import "typography";
@import "global";
@import "dynamic";
.nossa-historia{
    background-image: url(../images/background-nossa-historia.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    @media #{$mq-620-down}{
        background-size: cover;
        background-position: center;
    }
    .main-content{
        padding-right: 30px;
    }
    .disc-li{ 
        margin-left: 15px;
        @extend %disc;
    }
    %disc::before{
        margin-left: 15px;
        @media #{$mq-620-down}{
            margin-left: 0;
        }
    }
    ul{
        padding-left: 15px;
        li{
            margin-bottom: 10px;
        }
    }
    ul li:before {
        content: '\2022';
        position: absolute;
        margin-left: -15px;
        color: $ltvine;
       }
}