@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "variables";
@import "colors";
@import "typography";
@import "global";
@import "dynamic";

.sobre-a-sindrome{
    main{
        ul{
            padding-left: 15px;
            li{
                margin-bottom: 10px;
            }
        }
        ul li:before {
            content: '\2022';
            position: absolute;
            margin-left: -15px;
            color: $ltvine;
           }
    }
    .main-background{
        background-position: top;
        background-repeat: no-repeat;
        background-size: unset;
        @media #{$mq-620-down}{
            background-size: cover;
            background-position: center;
        }
        img{
            @media #{$mq-620-down}{
                width: 100%;
            }
        }
    }
    
}