@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "menu";
@import "variables";
@import "colors";
@import "typography";
@import "global";
@import "header";
@import "footer";
@import "dynamic";

main {
    width: 100%;
    float: left;
    
    .content-main{
        margin-bottom: 30px;
        @media #{$mq-620-up}{
            margin-bottom: 80px;
        }
    }
    .main-background{
        background-image: url(../images/background-roki.jpg);
        background-size: cover;
        background-position: 80%;
        background-repeat: no-repeat;
        @media #{$mq-620-up}{
            background-position: 50%;
            height: 520px;
            background-position-y: inherit;
        }
        .responsive-main-txt{
            padding: 20px 110px 0 20px;
            p{
                text-shadow: 1px 1px 2px #000;
                color: #fff;
            }
            @media #{$mq-620-up}{
                padding: 100px 55% 0 40px;
                p{
                    text-shadow: none;
                    font-size: 18px;
                }
            }
        }
        .responsive-main-title{
            padding: 20px 110px 20px 20px;
            h2{
                color: #fff;
                font-size: 20px;
                text-shadow: 1px 1px 2px #000;
            }
            @media #{$mq-620-up}{
                padding: 30px  38% 0 40px;
                h2{
                    font-size: 35px;
                    font-weight: 300;
                    text-shadow: none;
                }
            }
        }
    }
    .main-aside{
        background: linear-gradient(0deg, rgba(194,102,102,1) 0%, rgba(255,255,255,1) 100%);
        margin-top: 30px;
        p{
            padding: 0 10px 0 0;
        }
        @media #{$mq-620-up}{
            margin: 70px 70px 0 70px;
        }
    }
    .main-content{
        padding: 30px 0 0 ;
        @media #{$mq-620-up}{
        padding: 90px 0 0 0;
            .main-content-text{
                margin-left: 30px;
                p{
                    margin: 10px 0 90px 60px;
                }
            }
        }
    }
}
.nossa-historia{
    background-image: url(../images/background-nossa-historia.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    @media #{$mq-620-down}{
        background-size: cover;
        background-position: center;
    }
    .main-content{
        padding-right: 30px;
    }
    .disc-li::before{
        content: "•";
        color: $ltvine;
        position: absolute;
        left: 0;
    }
}
.fundadoras {
    background-image: url(../images/background-fundadoras.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    @media #{$mq-620-down}{
        background-size: cover;
        background-position: center;
    }
}