@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "menu";
@import "variables";
@import "colors";
@import "typography";
@import "global";
@import "header";
@import "footer";
@import "dynamic";
@import "home";
main {
    width: 100%;
    float: left;
    
    .content-main{
        margin-bottom: 30px;
        @media #{$mq-620-up}{
            margin-bottom: 80px;
        }
    }
    .main-background{
        background-image: url(../images/background-roki.jpg);
        background-size: cover;
        background-position: 80%;
        background-repeat: no-repeat;
        @media #{$mq-620-up}{
            background-position: 50%;
            min-height: 520px;
            background-position-y: inherit;
        }
        .main-txt{
            p{
                text-shadow: 1px 1px 2px #000;
                color: #fff;
            }
            @media #{$mq-620-up}{
                p{
                    text-shadow: none;
                    font-size: 18px;
                }
            }
        }
        .main-title{
            h2{
                color: #fff;
                font-size: 20px;
                text-shadow: 1px 1px 2px #000;
            }
            @media #{$mq-620-up}{
                h2{
                    font-size: 35px;
                    font-weight: 300;
                    text-shadow: none;
                }
            }
        }
    }
    .main-aside{
        background-image: url(../images/roki-home-agenda.jpg);
        margin-top: 30px;
        background-repeat: no-repeat;
        background-size: contain;
        @media #{$mq-620-up}{
            padding: 4.3rem 3.8rem 0 1.5rem;
        }
    }
    .main-content{
        padding: 30px 0 0 ;
        @media #{$mq-620-up}{
        padding: 6rem 0 0 0;
            .main-content-text{
                margin-left: 30px;
                p{
                    margin: 10px 0 70px 60px;
                }
            }
        }
    }
}

.nossa-historia{
    background-image: url(../images/background-nossa-historia.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    @media #{$mq-620-down}{
        background-size: cover;
        background-position: center;
    }
    .main-content{
        padding-right: 30px;
    }
    .disc-li{
        @extend %disc;
    }
}
.fundadoras {
    background-image: url(../images/background-fundadoras.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    @media #{$mq-620-up}{
        background-size: cover;
        background-position: center;
    }
}
.sobre-a-sindrome{
    .main-background{
        background-image: url(../images/roki-sobre-a-sindrome.jpg);
        background-repeat: no-repeat;
        @media #{$mq-620-up}{
            min-height: 600px;
        }
    }
    .disc{
        @extend %disc;
    }
}
.tratamentos{
    .main-background{
        background-image: url(../images/roki-tratamentos.jpg);
        background-repeat: no-repeat;
        @media #{$mq-620-up}{
            min-height: 600px;
            background-size: 100%;
            
        }
    }
    .disc{
        @extend %disc;
        padding-left: 15px;
    }
    .disc::before{
        padding-left: 10px;
    }
}
.vida-sexual{
    .main-background{
        background-image: url(../images/roki-vida-sexual.jpg);
        background-repeat: no-repeat;
        @media #{$mq-620-up}{
            min-height: 600px;
            background-size: 100%;
            
        }
    }
}
.eventos{
    .event-border-b{
        border-bottom: 1px $ltvine solid;
    }
    background-image: url(../images/background-fundadoras.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    @media #{$mq-620-up}{
        background-size: cover;
        background-position: center;
    }
}
.guia{
    background-image: url(../images/background-fundadoras.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 480px;
    @media #{$mq-620-up}{
        background-size: cover;
        background-position: center;
    }
}