@import "../bootstrap/scss/bootstrap.scss";
@import "variables";
@import "colors";
@import "typography";
@import "global";
@import "dynamic";
@import "helpers";
@import "menu";
@import "home";
@import "tratamentos";
@import "eventos";
@import "guia";
@import "nossa-historia";
@import "vida-sexual";
@import "fundadoras";
@import "sobre-a-sindrome";
@import "header";
@import "footer";
@import "fale-conosco";

main{
    width: 100%;
    float: left;
    padding-bottom: 60px;
    .content-main{
        margin-bottom: 30px;
        @media #{$mq-1000-up}{
            margin-bottom: 80px;
        }
    }
    .main-aside{
        background-image: url(../images/roki-home-agenda.jpg);
        min-height: 780px;
        background-size: 100%;
        background-position: top;
        padding: 2px 3rem 3rem 1.5rem;
        @media #{$mq-1000-down}{
            background-size: cover;
            padding: 1rem 1rem 2rem;
        }
    }
    .main-content{
        padding: 30px 0 0 ;
        @media #{$mq-1000-up}{
        padding: 6rem 0 0 0;
            .main-content-text{
                margin-left: 30px;
                p{
                    margin: 10px 0 70px 60px;
                }
            }
        }
        @media #{$mq-1000-down}{
            padding: 3rem 1rem 0 1rem !important; 
        }
    }
}
.main-background{
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 3rem;
    @media #{$mq-620-down}{
        background-size: cover;
        background-position: center;
    }
    .main-txt{
        p{
            text-shadow: 1px 1px 2px #000;
            color: #fff;
        }
        @media #{$mq-1000-up}{
            p{
                text-shadow: none;
                font-size: 18px;
            }
        }
    }
    .main-title{
        h2{
            color: #fff;
            font-size: 20px;
            text-shadow: 1px 1px 2px #000;
        }
        @media #{$mq-1000-up}{
            h2{
                font-size: 35px;
                font-weight: 300;
                text-shadow: none;
            }
        }
    }
}
.saiba-mais{
    line-height: 1.5;
    h6{
        margin-bottom: 0;
        font-size: 1rem;
        color: $ltvine;
        line-height: 2;
        @media #{$mq-1000-down}{
            line-height: 1.5;
        }
    }
    a{
        color: $black;
        margin-bottom: 0;
    }
    p{
        margin-bottom: 0;        
    }
}

.separador-relatos{
    line-height: 1.5;
    .texto-completo{
        display: none;
    }
    &.texto-expandido{
        .texto-completo{
            display: block;
        }
        .texto-reduzido{
            display: none;
        }
    }
    margin-bottom: 2rem;
    p{
        display: inline;
    }
    .aspas{
        color: $black;
    }
}
.error404{
    .row-h1{
        min-height: 600px;
        width: 100%;
        text-align: center;
        padding-top: 250px;
        color: $dkvine;
    }
}