
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "variables";
@import "colors";
@import "typography";
@import "global";
@import "dynamic";
.tratamentos{
    border: 1px solid;
    .main-background{
        background-image: url(../images/roki-tratamentos.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        @media #{$mq-620-down}{
            background-size: cover;
            background-position: center;
        }
        img{
            @media #{$mq-620-down}{
                width: 100%;
            }
        }
    }
    .disc{
        @extend %disc;
        padding-left: 5px;
    }
    .disc::before{
        padding-left: 10px;
    }
}