
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "variables";
@import "colors";
@import "typography";
@import "global";
@import "dynamic";
.tratamentos{
    .main-background{
        background-position: top;
        background-repeat: no-repeat;
        @media #{$mq-620-down}{
            background-size: cover;
            background-position: center;
        }
        img{
            @media #{$mq-620-down}{
                width: 100%;
            }
        }
        ul{
            padding-left: 15px;
            li{
                margin-bottom: 10px;
            }
        }
        ul li:before {
            content: '\2022';
            position: absolute;
            margin-left: -15px;
            color: $ltvine;
           }
    }
    h4{
        padding: 10px 0;
        margin: 2rem 0;
    }
}